[submodule "hallc_simulations"]
	path = hallc_simulations
	url = https://github.com/Yero1990/hallc_simulations
[submodule "deut_simc"]
	path = deut_simc
	url = https://github.com/Yero1990/deut_simc
[submodule "cafe_online_replay"]
	path = cafe_online_replay
	url = https://github.com/Yero1990/cafe_online_replay
[submodule "hcana"]
	path = hcana
	url = https://github.com/Yero1990/hcana
